/* .photos>.part {
    background-color: #ffffff;
}

.photos-main {
    display: flex;
    overflow: hidden;
}

.photos-main>.photo {
    width: 400px;
    height: 250px;
}
*/
.photos-main>.photo>img {
    width: 400px;
    height: 250px;
    /* height: 100%; */
}

